html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Custom fonts */
@font-face {
  font-family: font-1;
  src: url("../provided/Fonts/jungle_juice/JUNGJ___.TTF");
}

@font-face {
  font-family: font-2;
  src: url("../provided/Fonts/just_kidding/just kidding.ttf");
}

@font-face {
  font-family: font-3;
  src: url("../provided/Fonts/kids_book/Kids Book.ttf");
}

@font-face {
  font-family: font-3-bold;
  src: url("../provided/Fonts/kids_book/Kids Book Bold.ttf");
}

.font-1 {
  font-family: font-1;
}

.font-2 {
  font-family: font-2;
}

.font-3 {
  font-family: font-3;
}

.font-3-bold {
  font-family: font-3-bold;
}

.header {
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
  max-height: 500px;
  width: 100%;
  object-fit: cover;
}

.header-carousel {
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
  max-height: 500px;
}

.header-carousel img {
  max-height: 500px;
  object-fit: cover;
}

.header-border {
  border: 4px solid white;
}

/* Custom elements */
.navbar {
  border-bottom: 1px solid #EEF1F4;
  padding: 0rem 2rem !important;
}

.btn-shadow {
  box-shadow: 0px 10px 17px rgba(0, 0, 0, 0.2)
}

.active {
  color: #19c0ff !important;
}

.nav-item {
  padding: 0.75rem 0 !important;
  margin-bottom: 3px;
}

.flip-horizontally {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.white-border {
  border: 15px solid white;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.09), 0px 0px 2px rgba(0, 0, 0, 0.09), 6px 6px 8px rgba(0, 0, 0, 0.35);
}

.customer-bubble {
  border: 15px solid white;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.09), 0px 0px 2px rgba(0, 0, 0, 0.09), 6px 6px 8px rgba(0, 0, 0, 0.35);
  border-radius: 0 .75rem .75rem .75rem;
}

.anchor {
  display: block;
  position: relative;
  top: -107px;
  visibility: hidden;
}

.event-card {
  cursor: pointer;
  padding: 10px;
  border-radius: .25rem;
  transition: box-shadow .3s ease-out, background-color .3s ease-out;
}

.event-card:hover {
  background-color: rgba(0,0,0,0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.09), 0px 0px 2px rgba(0, 0, 0, 0.09), 6px 6px 8px rgba(0, 0, 0, 0.35);
}

#maps-overlay {
  position: absolute;
  top: 20px;
  right:0;
  padding: 10px;
  transform: translate(-50%, 0);
  background-color: white !important;
  border-radius: .25rem;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

footer ul {
  list-style-type: none;
}

#facebook-logo {
  fill: #00a2ff !important;
  transition: transform .5s ease;
}

#instagram-logo {
  fill: #ed0c1f !important;
  transition: transform .5s ease;
}

#instagram-logo:hover, #facebook-logo:hover {
  transform: rotate(15deg);
}

.social-icon {
  padding: 20px 5px;
  background-color: white;
  border-radius: .5rem;
}

/* Custom colors */
.bg-custom {
  background-color: #00a2ff !important;
}

.bg-custom-light {
  background-color: #ccecff !important;
}

.bg-orange {
  background-color: #ff4301 !important;
}

.bg-green {
  background-color: #39ad00 !important;
}

.bg-red {
  background-color: #ed0c1f !important;
}

.bg-carousel {
  background-color: rgba(0,0,0,0.8);
  border-radius: .25rem;
}

.bg-custom-dark {
  background-color: #19c0ff !important;
}

.bg-light {
  background-color: #fdfdfd;
}

.nav-link {
  color: #314c67 !important;
  transition: color 0.5s ease;
}

.text-black {
  color: black !important;
}

.nav-item:hover {
  border-bottom: 3px solid #00a2ff;
  color: #19c0ff !important;
  margin-bottom: 0;
}

.text-custom {
  color: #314c67 !important;
}

.text-custom-muted {
  color: #314c67 !important;
}

.btn-custom {
  background-color: #00a2ff !important;
  color: white !important;
  border: 1px solid white;
}

.btn-custom:hover {
  background-color: white !important;
  color: #00a2ff !important;
  border: 1px solid #00a2ff;
}

.header-btn button {
  color: #00a2ff !important;
}

.header-btn button:hover {
  background-color: #00a2ff !important;
  color: white !important;
}

@media only screen and (max-width:993px) {
  .nav-item:hover {
    border-bottom: 0;
    margin-bottom: 3px;
  }
  .nav-link:hover {
    color: #00a2ff !important;
  }
}

@media only screen and (max-width: 768px) {
  .contact {
    display: absolute;
    background: #FFFFFF url("../images/ph-4.jpg") no-repeat center;
    background-size: cover;
  }

  .text-sm-white {
    color: white !important;
  }

  .white-border-sm { border: 15px solid white;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.09), 0px 0px 2px rgba(0, 0, 0, 0.09), 6px 6px 8px rgba(0, 0, 0, 0.35);
  }
}
